player-connection-mode=Listen
player-connection-guid=1502521765
player-connection-debug=0
player-connection-project-name=PercageCirculaire
player-connection-ip=192.168.56.1
player-connection-ip=172.18.32.1
player-connection-ip=192.168.99.1
player-connection-ip=192.168.1.66
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
